.thankYouContainer {
    text-align: center;
    margin: 50px;
}

.purchasedBooks {
    margin: 20px 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: navy;
}

.backToBrowsing {
    margin-top: 20px;
    background-color: #ddd;
    color: red;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.backToBrowsing:hover {
    background-color: #ccc;
}